{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
    <h2>Iniciar sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Iniciar sesión</button>
    </form>
{% endblock content %}