{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cerrar sesión{% endblock %}

{% block content %}
    <h1>Cerrar sesión</h1>
    <p>¿Seguro de cerrar la sesión actual?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger" type="submit">Cerrar sesión</button>
    </form>
{% endblock content %}