{% extends '_base.html' %}
{% block title %}
    Movement | Form
{% endblock title %}

{% block content %}

<div class="col col-lg-9">
    <h3>Balance del mes {{ first_date|date:"F" }} de {{usuario|title}} </h3>

    {% regroup month_movements.all|dictsort:"no_invoice" by no_invoice as invoice_list %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Pagado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for invoice in invoice_list %}
            {% if invoice.grouper == False %}
                <tr>
                    <th scope="col" colspan="3">Movimientos facturables</th>
                    <th scope="col" colspan="2">${{total_fact|stringformat:"2.2f"}}</th>
                    {% if fact_ids %}
                    <td scope="col"><a class="btn btn-outline-success btn-sm" href="{% url 'finances:finances_pay' %}?paymentlist={{fact_ids}}" role="button">Pagar </a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <th scope="col" colspan="3">Movimientos NO facturables</th>
                    <th scope="col" colspan="2">${{total_no_fact|stringformat:"2.2f"}}</th>
                    {% if no_fact_ids %}
                    <td scope="col"><a class="btn btn-outline-success btn-sm" href="{% url 'finances:finances_pay' %}?paymentlist={{no_fact_ids}}" role="button">Pagar </a></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% for reg in invoice.list %}
                <tr>
                    <td scope="col">{{ reg.id }}.- {{ reg.payee }}</td>
                    <td scope="col">{{ reg.creation_date }}</td>
                    <td scope="col">{{ reg.description }}</td>
                    <td scope="col">{{ reg.amount|stringformat:"2.2f" }}</td>
                    {% if reg.payment %}
                    <td scope="col"><span class="badge rounded-pill bg-success">SI</span></td>
                    {% else %}
                    <td scope="col"><span class="badge rounded-pill bg-warning text-dark">NO</span></td>
                    {% endif %}
                    <td scope="col"><a class="btn btn-outline-danger btn-sm" href="{% url 'finances:finances_delete' reg.pk %}" role="button">Borrar</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    {% if prev_month_movements %}
    <a class="btn btn-primary btn-sm" href="{% url 'finances:finances_validate' usuario.pk 2022 prev_month_movements.creation_date|date:"n" %}">Mes anterior</a>
    {% else %}
    Primer mes
    {% endif %}
    /
    {% if next_month_movements %}
    <a class="btn btn-primary btn-sm" href="{% url 'finances:finances_validate' usuario.pk 2022 next_month_movements.creation_date|date:"n" %}">Mes siguiente</a>
    {% else %}
    Ultimo mes
    {% endif %}
     -|-
    {% if prev_user %}
    <a class="btn btn-primary btn-sm" href="{% url 'finances:finances_validate' prev_user.pk 2022 first_date|date:"n" %}">Usuario anterior {{prev_user}}</a>
    {% else %}
    Primer usuario
    {% endif %}
     /
    {% if next_user %}
    <a class="btn btn-primary btn-sm" href="{% url 'finances:finances_validate' next_user.pk 2022 first_date|date:"n" %}">Usuario siguiente {{next_user}}</a>
    {% else %}
    Ultimo usuario
    {% endif %}
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}