{% extends '_base.html' %}

{% block title %}
    Movement | Form
{% endblock title %}

{% block content %}

<div class="col col-lg-9">
    <form method="post">
        {% csrf_token %}
        {{form.as_table}}
        <input class="btn btn-primary mb-3" type="submit" value="Submit">
    </form>
</div>

<div class="col col-lg-9">
    <h3>Balance del mes actual</h3>
    <p>
        Total facturable: ${{total_fact|stringformat:"2.2f"}}
    </p>
    <p>
        Total no facturable: ${{total_no_fact|stringformat:"2.2f"}}
    </p>

    <h3>Movimientos facturables</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Pagado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in invoice %}
        <tr>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date }}</td>
            <td scope="col">{{ reg.description }}</td>
            <td scope="col">{{ reg.amount|stringformat:"2.2f" }}</td>
            <td scope="col">{{ reg.payment }}</td>
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">Borrar</a></th>
        </tr>
        {% endfor %}
    </table>

    <h3>Movimientos NO facturables</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Monto</th>
                <th scope="col">Pagado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        {% for reg in no_invoice %}
        <tr>
            <td scope="col">{{ reg.payee }}</td>
            <td scope="col">{{ reg.creation_date }}</td>
            <td scope="col">{{ reg.description }}</td>
            <td scope="col">${{ reg.amount|stringformat:"6.2f" }}</td>
            <td scope="col">{{ reg.payment }}</td>
            <th scope="col"><a class="btn btn-outline-danger" href="{% url 'finances:finances_delete' reg.pk %}" role="button">Borrar</a></th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}

{% block scripts %}
{% endblock %}