{% extends '_base.html' %}

{% block title %}
    Finances | Delete
{% endblock title %}

{% block content %}
<h1>Are you sure you want to delete this movement?</h1>
<ul>
    <li>ID: {{movement.id}}</li>
    <li>PAYEE: {{movement.payee}}</li>
    <li>AMOUNT: $ {{movement.amount|stringformat:"2.2f"}}</li>
    <li>DESCRIPTION: {{movement.description}}</li>
</ul>
<form method='POST'>
    {% csrf_token %}
    <input type="submit" value="Confirm Delte">
</form>

{% endblock content %}

{% block scripts %}
{% endblock %}